{% load i18n %}
<!-- Left navbar-sidebar -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                <!-- Search input-group this is only view in mobile -->
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                </span>
                </div>
                <!-- / Search input-group this is only view in mobile-->
            </li>
            <!-- User profile-->
            <li class="nav-small-cap m-t-10">--- Main Menu</li>
            <li><a href="javascript:void(0)" class="waves-effect"><i class="zmdi zmdi-copy zmdi-hc-fw fa-fw"></i> <span class="hide-menu">Link type </span></a> </li>
            <li>
                <a class="waves-effect active"><i class="zmdi zmdi-copy zmdi-hc-fw fa-fw"></i> <span class="hide-menu">{% trans "Room meeting" %}<span class="fa arrow"></span></span></a>
                <ul class="nav nav-second-level" aria-expanded="false">
                    <li><a href="{% url 'meeting_list' %}">{% trans "Meeting room list" %}</a></li>
                    {% if request.user.is_staff %}<li><a href="{% url 'meeting_add' %}">{% trans "New meeting room" %}</a></li>{% endif %}
                </ul>
            </li>
            {% if request.user.is_staff %}
            <li>
                <a class="waves-effect active"><i class="zmdi zmdi-copy zmdi-hc-fw fa-fw"></i> <span class="hide-menu">{% trans "Supplies" %}<span class="fa arrow"></span></span></a>
                <ul class="nav nav-second-level" aria-expanded="false">
                    <li><a href="{% url 'supplie_list' %}">{% trans "Supplie list" %}</a></li>
                    <li><a href="{% url 'supplie_add' %}">{% trans "New Supplie" %}</a></li>
                </ul>
            </li>
            {% endif %}
            <li>
                <a class="waves-effect active"><i class="zmdi zmdi-copy zmdi-hc-fw fa-fw"></i> <span class="hide-menu">{% trans "Reservations" %}<span class="fa arrow"></span></span></a>
                <ul class="nav nav-second-level" aria-expanded="false">
                    <li><a href="{% url 'meeting_list' %}">{% trans "Meeting room list" %}</a></li>
                    <li><a href="{% url 'reservation_calendar' %}">{% trans "Calendar" %}</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- Left navbar-sidebar end -->
