{% extends "base.html" %}
{% load i18n %}
{% load meeting %}
{% block content %}
    <!-- Preloader -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <div id="wrapper">
        {% include "meeting/top_menu.html" %}
        {% include "meeting/left_menu.html" %}
        <!-- Delete Modal -->
        <div class="modal fade" id="modal_delete_room" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans "Delete meeting room" %}</h4>
                    </div>
                    <div class="modal-body">
                        {% trans 'Are you sure to delete the meeting room'%} "<span id=name_room_delete></span>"?
                        <input type="hidden" name="room_to_delete">
                    </div>
                    <form class="form-material" method="POST" id="confirm_delete">{% csrf_token %}
                        <div class="modal-footer">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">{% trans "Submit" %}</button>
                                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">{% trans "Cancel" %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- ./ Delete Modal -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <!-- .page title -->
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">{% trans "Meeting rooms" %}</h4>
                    </div>
                    <!-- /.page title -->
                    <!-- .breadcrumb -->
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <a href="https://themeforest.net/item/elite-admin-responsive-dashboard-web-app-kit-/16750820" target="_blank" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy Now</a>
                        <ol class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                            <li class="active">{% trans "Meeting rooms" %}</li>
                        </ol>
                    </div>
                    <!-- /.breadcrumb -->
                </div>
                <!-- .row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <form class="form-material" method="POST">{% csrf_token %}
                                <div class="form-group ">
                                {% for field in form %}
                                        <div class="col-md-6">
                                        {{ field.label_tag }} {{ field }}
                                        {% if field.help_text %}
                                        <p class="text-muted m-b-30 font-13">{{ field.help_text|safe }}</p>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                </div>
                                <div class="form-group text-center m-t-20">
                                    <div class="col-xs-12">
                                        <button type="submit" class="btn btn-info waves-effect waves-light m-r-10"><i class="fa fa-search"></i> {% trans "Search" %}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            {% if request.user.is_staff %}<a href="{% url 'meeting_add' %}" class="btn btn-success waves-effect waves-light m-r-10 pull-right">{% trans "Add meeting room" %}</a>{% endif %}
                            <h3 class="box-title">{% trans "List of meeting rooms" %}</h3>
                            <br />
                            {% if rooms.exists %}
                            <div class="white-box">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>{% trans "Name" %}</th>
                                            <th>{% trans "Location" %}</th>
                                            <th>{% trans "Capacity" %}</th>
                                            <th>{% trans "Status" %}</th>
                                            <th>{% trans "Options" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for room in rooms %}
                                        <tr>
                                            <td><a href="javascript:void(0)">{{ room.name }}</a></td>
                                            <td>{{ room.location }}</td>
                                            <td><span class="text-muted"><i class="fa fa-clock-o"></i> {{ room.capacity }}</span></td>
                                            <td>
                                                <div class="label label-table label-{{ room|status }}">{{ room.status }}</div>
                                            </td>
                                            <td class="text-nowrap">
                                                <a href="{% url 'meeting_edit' room.id %}" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <a class="delete_room" href="#" data-id="{{ room.id }}" data-name="{{ room.name }}" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger m-r-10"></i> </a>
                                                <a href="{% url 'reservation_add' room.id %}" data-toggle="tooltip" data-original-title="Reserve"> <i class="zmdi zmdi-calendar-check text-inverse m-r-10"></i> </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% else %}
                        <h1 class="box-title">{% trans "No meeting room found." %}</h1>
                        {% endif %}
                    </div>
                </div>
                <!-- /.row -->
                {% include "meeting/right_menu.html" %}
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        $(".delete_room").click(function() {
            $('#room_to_delete').val($(this).attr('data-id'));
            $('#name_room_delete').text($(this).attr('data-name'));
            $('#name_room_delete').text($(this).attr('data-name'));
            url = '/meeting/' + $(this).attr('data-id') + '/delete/';
            $("#confirm_delete").attr("action", url);
            $('#modal_delete_room').modal('show');
        });
    </script>
{% endblock %}
