<!-- Top Navigation -->
<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <!-- Toggle icon for mobile view -->
        <a class="navbar-toggle hidden-sm hidden-md hidden-lg color-info" href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
        <!-- Logo -->
        <div class="top-left-part">
            <a href="#">
                <h4 class="page-title hidden-xs text-white pull-right">Django <b>Meeting</b></h4>
            </a>
        </div>
        <!-- /Logo -->
        <!-- This is the message dropdown -->
        <ul class="nav navbar-top-links navbar-right pull-right">
            <!-- .user dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="starter-page.html#"> <b class="hidden-xs">{{ request.user }} <i class="icon-options-vertical"></i></b> </a>
                <ul class="dropdown-menu dropdown-user scale-up">
                    <li><a href="{% url 'admin:index' %}"><i class="ti-settings"></i> Admin Panel</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'account_logout' %}"><i class="fa fa-power-off"></i> Logout</a></li>
                </ul>
                <!-- /.user dropdown-user -->
            </li>
            <!-- /.user dropdown -->
        </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
</nav>
<!-- End Top Navigation -->
