<!DOCTYPE html>
<html lang="en">

{% load static from staticfiles %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="http://eliteadmin.themedesigner.in/demos/images/favicon.png">
    <title>Django Meeting</title>
    <style>
    </style>
    <!-- Bootstrap Core CSS -->
    <link href='{% static "bootstrap/dist/css/bootstrap.min.css" %}' rel="stylesheet">
    <link href='{% static "bower_components/bootstrap-extension/css/bootstrap-extension.css" %}' rel="stylesheet">

    <!-- Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <!-- ClockPicker -->
    <link href='{% static "bower_components/clockpicker/dist/jquery-clockpicker.min.css" %}' rel="stylesheet">
    <!-- DatePicker -->
    <link href='{% static "bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css" %}' rel="stylesheet">
    <!-- Toasts -->
    <link href='{% static "bower_components/toast-master/css/jquery.toast.css" %}' rel="stylesheet">
    <!-- This is Sidebar menu CSS -->
    <link href='{% static "bower_components/sidebar-nav/dist/sidebar-nav.min.css" %}' rel="stylesheet">
    <!-- This is a Animation CSS -->
    <link href='{% static "css/animate.css" %}' rel="stylesheet">
    <!-- This is a Custom CSS -->
    <link href='{% static "css/style.css" %}' rel="stylesheet">
    <!-- color CSS you can use different color css from css/colors folder -->
    <!-- We have chosen the skin-blue (blue.css) for this starter
         page. However, you can choose any other skin from folder css / colors .
         -->
    <link href='{% static "css/colors/default.css" %}' rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" %}'></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" %}'></script>
      <![endif]-->
</head>

<body class="fix-sidebar">
    {% block content %}{% endblock %}
    <footer class="footer text-center"> 2017 &copy; Django Meeting by HCMFront. </footer>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src='{% static "bower_components/jquery/dist/jquery.min.js" %}'></script>
    <!-- Bootstrap Core JavaScript -->
    <script src='{% static "bootstrap/dist/js/tether.min.js" %}'></script>
    <script src='{% static "bootstrap/dist/js/bootstrap.min.js" %}'></script>
    <script src='{% static "bower_components/bootstrap-extension/js/bootstrap-extension.min.js" %}'></script>
    <!-- Sidebar menu plugin JavaScript -->
    <script src='{% static "bower_components/sidebar-nav/dist/sidebar-nav.min.js" %}'></script>
    <!-- Toast JavaScript -->
    <script src='{% static "bower_components/toast-master/js/jquery.toast.js" %}'></script>
    <script src='{% static "js/toastr.js" %}'></script>

    <!--slimscroll JavaScript -->
    <script src='{% static "js/jquery.slimscroll.js" %}'></script>
    <!--Wave Effects -->
    <script src='{% static "js/waves.js" %}'></script>
    <!-- MultiSelect -->

    <!--Style Switcher -->
    <script src="http://eliteadmin.themedesigner.in/demos/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
    <!-- Select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>


    <!--Slimscroll JavaScript For custom scroll-->
    <script src='{% static "js/jquery.slimscroll.js" %}'></script>
    <!--Wave Effects -->
    <script src='{% static "js/waves.js" %}'></script>
    <!-- Custom Theme JavaScript -->
    <script src='{% static "js/custom.min.js" %}'></script>
    <script type="text/javascript">
        $('select').select2();
    </script>
    <!-- ClockPicker -->
    <script src='{% static "bower_components/clockpicker/dist/jquery-clockpicker.min.js" %}'></script>
    <!-- DatePicker -->
    <script src='{% static "bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js" %}'></script>

    <script type="text/javascript">
        // Clock pickers
        $('.clockpicker').clockpicker({
            donetext: 'Done',
        })
        .find('input').change(function() {
            console.log(this.value);
        });

        $('#datepicker').datepicker({
            todayHighlight: true,
            format: 'yyyy-mm-dd'
        });

    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            {% for message in messages %}
            show_notification('{% if "safe" in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}', '{{ message.tags }}');
            {% endfor %}

            var message = $('#form_error').attr('data-message');
            var field = $('#form_error').attr('data-field');
            if (message) {
                show_notification(message, 'error', 'You have an error in <b>' + field + '</b>');
            }

            function show_notification(message, status, title='Hey!') {
                $.toast({
                    heading: title,
                    text: message,
                    position: 'top-right',
                    loaderBg: '#ff6849',
                    icon: status,
                    hideAfter: 3000,
                    stack: 6
                });
            }
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            var message = $('.field-disabled').attr('disabled', 'disabled');

        });
    </script>
    {% block extra_js %}{% endblock %}
</body>

</html>
